.navbar{
  font-weight: 100;
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:3;
}
.navbar-brand h3{
  font-weight:100;
}

.nav-item{
  font-size:1.4rem;
}
.nav-link:hover{
  border-bottom:1px solid white;
  transition-property: border-bottom;
  transition-delay: 0.2s;
  transition-duration:0.2s;
}

#showcase{
  
  background: url("../assets/img/LaptopBackCoffeAndTablet.jpeg") bottom center / cover no-repeat;
  min-height:750px;
  position:relative;
}

/* #showcase:hover{
  background: url("../assets/img/LaptopBackAndCoffee2.jpeg") bottom center / cover no-repeat; 
  transition-property: background;
  transition-delay: 0.4s;
  transition-duration:0.1s;
} */

#showcase>#overlay{
  background: rgba(0,0,0,0.3);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}

#showcase>.header{
  z-index:2;
}

#showcase>.header>h1{
  font-family: "Questrial", sans-serif;
  line-height: 1;
}

#showcase>.header>p>span{
  color:var(--primarycolor)
}

#showcase>div>#btnBooking{
  background: var(--primarycolor);
  color: white;
  font-size:1.5rem;
  border-radius:2rem;

}

@media(max-width: 768px){
  .navbar{
      background: #1f1f1f;
  }
  .nav-link:hover{
    border-bottom:none;
}

  #showcase{
      min-height:500px;
  }
  #showcase>.header>h1{
      font-size:4rem;
  }
}
